<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Portal de notícias</title>
		<style>
			h1{
				font:14pt Arial normal;
			}
		</style>
	</head>
	<body>

		<h1>Bem vindo a página inicial</h1>

	</body>
</html>